<body>
    <nav class="navbar navbar-dark bg-dark" id="footer">
        <!-- <ul>
            <li><a href="">About</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Careers</a></li>
        </ul> -->
        <p>&copy;2019 www.healthUp.com. All rights are reserved.</p> 
    </nav>
</body>