<div class = "mt-3">
    <button type="button" class="btn btn-primary btn-lg" id="sugar_med_show_btn" onclick = "get_sugar_med()">Sugar Medicine</button>
    <button type="button" class="btn btn-outline-primary btn-lg" id="bp_med_show_btn" onclick="get_bp_med()">Blood pressure Medicine</button>
</div>


<div class="container" id = "sugar_container">
    <div class="row mt-5">
            <div id = "curr_med" class = "mt-4 mb-4"></div>
            <button type="button" class="btn btn-primary btn-lg mb-4 mt-4 change_med_btn" onclick = "change_sugar_med()">Change Medicine</button>
            <div id = "ch_sugar_med" style="display:none;" class = "mt-4 mb-4">
                <div class="input-group mb-3 new_med_inp">
                    <span class="input-group-text"></span>
                    <span class="input-group-text">New Medicine</span>
                    <input id = "new_sugar_med" type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)"></input>
                </div>
                <div class="btn-group mt-4" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" onclick = "update_sugar_med()">Submit</button>
                </div>
        </div>
    </div>

    <div class = "row">
        <div class="col" id = "sg_mess_med">
        </div>
    </div>

    <h2>SUGAR MEDICINE LOG</h2>
    
    <div class="container table">
        <div class = "row">
            <div class="col">DATE</div>
            <div class="col">SUGAR LEVEL</div>
            <div class="col">MEDICINE</div>
        </div>
        <div id="table_sugar_log">
            
        </div>
    </div>
</div>


<div class="container" id = "bp_container" style="display:none;">
    <div class="row mt-5">
            <div id = "curr_med_bp" class = "mt-4 mb-4"></div>
            <button type="button" class="btn btn-primary btn-lg mb-4 mt-4 change_bp_med_btn" onclick = "change_bp_med()">Change Medicine</button>
            <div id = "ch_bp_med" style="display:none;" class = "mt-4 mb-4">
                <div class="input-group mb-3 new_med_inp">
                    <span class="input-group-text"></span>
                    <span class="input-group-text">New Medicine</span>
                    <input id = "new_bp_med" type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)"></input>
                </div>
                <div class="btn-group mt-4" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" onclick = "update_bp_med()">Submit</button>
                </div>
        </div>
    </div>


    <div class = "row">
        <div class="col" id = "bp_mess_med">
        </div>
    </div>

    <h2>BP MEDICINE LOG</h2>
    
    <div class="container table">
        <div class = "row">
            <div class="col">DATE</div>
            <div class="col">LOW BP LEVEL</div>
            <div class="col">HIGH BP LEVEL</div>
            <div class="col">MEDICINE</div>
        </div>
        <div id="table_bp_log">
            
        </div>
    </div>
</div>
<br>
<br>
<br>
<script src="/js/medicine.js"></script>