<div class="stats-container">
    <br>
    <br>
    <h2>BP LEVEL DATA</h2>

    <div id="bp_stats_container">
        <canvas id="myChart" style="border: solid 1px black;"></canvas>
    </div>

    <br>
    <br>
    <br>

    <h2>SUGAR LEVEL DATA</h2>

    <div id="sugar_stats_container">
        <canvas id="myChart2" style="border: solid 1px black;"></canvas>
    </div>
</div>
<br>
<br>
<br>

<script src="/js/stats.js"></script>
 