<%- include("./partials/header"); %>
<div class="form-box">
    <h1 class="mt-3 mb-2 font-weight-bold">REGISTER</h1>

    <form action="/register" method="post">
        <div class="form-floating mb-1">
            <input type="text" name="name" id="name" placeholder="enter name..." class="form-control">
            <label for="name">NAME</label>
        </div>
        
        <div class="form-floating mb-1">
            <input type="text" name="username" id="username" placeholder="enter username..." class="form-control">
            <label for="username">USERNAME</label>
        </div>

        <div class="form-floating  mb-1">
            <input type="password" name="password" placeholder="Enter passowrd..." id="password" class="form-control">
            <label for="password">PASSWORD</label>
        </div>

        <input type="submit" value="REGISTER" class="btn btn-outline-primary m-1">

    </form>


    <h4 class="mt-3 mb-1 font-weight-bold">ALREADY REGISTERED?</h4>


    <form action="/login" method="get">
        <input type="submit" value="LOGIN" class="btn btn-outline-primary mb-2">
    </form>

    <% if(message.err !== undefined) { %>
        <% if(message.err == 'server'){ %>
            <h4 class="mt-1 mb-1" style="color: red;"> Server error. Please try again in some time.</h4> 
        <% } else if(message.err == 'duplicate-username'){ %>
            <h4 class="mt-1 mb-1" style="color: red;"> Username already in use.</h4>
        <% } else if(message.err == 'duplicate-id'){ %>
            <h4 class="mt-1 mb-1" style="color: red;"> ID already in use.</h4>
        <% } %>
    <% } %>

</div>

<%- include("./partials/footer"); %>